@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

  --text-size: 3rem;

  --test: 900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    font-size: 62.5%;

    width: 100dvw;
    height: 100dvh;
  }

  body {
    width: 100%;
    height: 100%;

    position: relative;
  }

  #modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}
