@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

  --text-size: 3rem;

  --header-height: 9rem;
  --footer-height: 20rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    font-size: 62.5%;

    width: 100dvw;
    height: 100dvh;
  }

  body {
    width: 100%;
    height: 100%;

    position: relative;
    background-color: #f9f9f9;
  }

  #app {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: scroll;

    ::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  #fit-wrap {
    width: 100%;
    height: calc(100% - var(--header-height) - var(--footer-height));
    min-height: calc(100% - var(--header-height) - var(--footer-height));

    overflow: scroll;

    ::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  #calc_header_height {
    height: calc(100dvh - var(--header-height));
  }

  input:focus {
    outline: none;
  }
}
