@media (min-width: 900px) {
  .userinfo_login_button {
    width: 100%;
    height: 100%;

    white-space: nowrap;

    justify-content: space-around;
  }

  .userinfo_login_title {
    display: block;
  }
}

@media (max-width: 900px) {
  .userinfo_login_button {
    width: 2.4rem;
    height: 2.4rem;

    justify-content: center;
  }

  .userinfo_login_icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .userinfo_logout_button {
    font-size: 1.2rem;
  }
}
